## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/**
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*/

## Rider / JetBrains
.idea/
*.sln.iml

## Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

## Compiled output
*.exe
*.pdb
*.dll

## Misc
*.DS_Store
